*{
	padding: 0;
	margin: 0;
}
.parent1{
  display: flex;
  justify-content: center;

}

.parent1>div{
	background-color: grey;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 1px;
  border: 1px solid #dddfe2;
}
.logo{
  width: 30%;
  margin-left: 50px;

}
.logo>a>i{
  width: 80%;
  margin-top: 15px;
}
.div1{
	
	   width: 25%;
     position: fixed;
     top:0;
     left: 0;
     /*border: 1px solid black;*/
     color: blue;

}
.div2{
	width: 26%;
    position: fixed;
    top:0;
    right: 0;
    border: 1px solid #dddfe2;
}
.div3{
	font-size: 35px;
     position: absolute;
     width: 48%;
     border: 1px solid #dddfe2;
}

.div1>a>i{
  width: 151px;
}
.row1{
  display: flex;
  background-color: white;
}
.klornkar{
  
  width: 100px;
  height: 100px;
  object-fit: hidden;
  border:1px solid;
}

.klornkar>img{
  width: 100%;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

}
.twittext{
  width: 79%;
  color: black;
}







.table{
  margin: 4px 0px;
  background: white;
}

.asdasd{
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  border:1px solid black;
}
.twit2{  width: 120px;
  height: 30px;
  background-color: DodgerBlue;
  color: white;
  border-radius: 15px;
  border: 1px solid #dddfe2;
}

}
.row4{
  display: flex;
}
.row44{
  width: 45%;
  display: inline-block;
}




































li{
	list-style: none;
	text-decoration: none;
	padding: 15px 89px;


	}

.fa.fa-twitter{
 font-size: 300%;
 color: DodgerBlue;

}  
a{
  margin-right: 12px;
  color:DodgerBlue;
	text-decoration: none;
}
button{
  width: 120px;
  height: 30px;
  background-color: DodgerBlue;
  color: white;
  border-radius: 15px;
  border: 1px solid #dddfe2;
}
.home>p{
  background: white;
  text-align: left;
  border-bottom: 1px solid grey;
  color: black;
  text-indent: 15px;
}
.col2{
  background-color: white;
  width: 100%;
  display: flex;
   flex-wrap: nowrap;
}
.comentnkar{
  width: 11%;
    height: 85px;  

}
.comentnkar>img{
    width: 64%;
    border-radius: 50%;
    object-fit: cover;
    margin: 18px 18px;
}
.comentinput{
  width:87%;  
}
.comentinput>input{
  width: 99%;
    height: 46px;
    text-indent: 15px;
    font-size: 15px;
    border-radius: 22px;
    border: 1px solid lightgrey;
}
.comentinput>input:focus {
  width: 99%;
    height: 83px;
    border: 1px solid DodgerBlue;
    border-radius: 24px;
    
}
.div2inp{
  padding: 5px;
}
.div2inp>input {
    margin: 15px 12px;
    width: 94%;
    display: flex;
    border: 1px lightgrey;
    border-radius: 22px;
    background-color: lightgrey;
    text-align: left !important;
    text-indent: 15px;
    padding: 11px 0px;
   }

.div4{
  width: 100%;
}

.div222>hr{
  background-color:  black;
}
.div222 p a{
  padding: 0px 8px;
}

.div222{
    margin: 15px 17px;
    width: 87%;
    text-align: left !important;
    text-indent: 15px;
    padding: 9px;
    /*border: 1px solid blue;*/
    border-radius: 22px;
    background-color: lightgrey; 
    
}
.div22nkar{
  width: 25%;
  height: 50px;
  object-fit: hidden;
  border-radius: 10px;
}
.div22nkar>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.divlorem{
  width: 100%;
  height: 150px;
}
.divlorem>span{
  width: 75%;
  height: 80px;
}
